.ajdwp-tab-content {
  padding: 20px;
  background: #fff;
  border: 1px solid #ccd0d4;
  border-top: none;
}

.temp-default-exp {
  display: inline-block;
  font-size: 0.85em;
  color: #888;
  margin-left: 6px;
  font-style: italic;
  cursor: pointer;
}

/* Sort Products in the Templates */
th.sortable {
  cursor: pointer;
  position: relative;
  padding-right: 1.5em;
  color: #004085;
}

th.sortable:hover {
  background-color: #f1f1f1;
}

th.sortable::after {
  content: "⇅";
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #999;
  opacity: 0.4;
}

th.sortable.asc::after {
  content: "▲";
  opacity: 1;
  color: #0073aa;
}

th.sortable.desc::after {
  content: "▼";
  opacity: 1;
  color: #0073aa;
}

#ajdwp-delete-confirm-modal {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
